<app-feature-area></app-feature-area>
<section class="section is-small has-text-centered">
  <div class="container">
    <h1 class="title is-size-4-mobile caveat">{{ 'in-loved-since' | translate }}</h1>
    <div class="container">
      <h2 class="subtitle">
        {{ inLoveDate.toLocaleDateString() }} - {{getDays()}}&nbsp;{{ 'days' | translate}}<br> {{'columbia-mo' | translate}}
      </h2>
    </div>
  </div>
</section>
<section class="section is-small has-text-centered">
  <div class="container is-centered">
    <h1 class="title is-size-4-mobile caveat">{{ 'we-live-in' | translate }}</h1>
    <div class="container">
      <h2 class="subtitle">
        📍 {{ 'san-francisco-bay-area' | translate }}
      </h2>
    </div>
  </div>
</section>
<section class="section is-small has-text-centered">
  <div class="container">
    <h1 class="title is-size-4-mobile caveat">{{ 'our-vlogs' | translate }}</h1>
    <a routerLink="/vlogs">
      <h2 class="subtitle">
        📷 {{ 'tony-and-helen-vlogs' | translate }}
      </h2>
    </a>
  </div>
</section>
<app-footprint-map></app-footprint-map>