<app-feature-area></app-feature-area>
<section class="section is-small has-text-centered">
  <div class="container">
    <h1 class="title is-size-4-mobile caveat-brush">IN LOVED SINCE</h1>
    <h2 class="subtitle">
      2016.04.18
    </h2>
  </div>
</section>
<section class="section is-small has-text-centered">
  <div class="container is-centered">
    <h1 class="title is-size-4-mobile caveat-brush">WE LIVE IN</h1>
    <h2 class="subtitle">
      San Francisco Bay Area
    </h2>
  </div>
</section>
<section class="section is-small has-text-centered">
  <div class="container">
    <h1 class="title is-size-4-mobile caveat-brush">OUR VLOGS</h1>
    <h2 class="subtitle">
      Tony and Helen Vlogs
    </h2>
  </div>
</section>
<app-footprint-map></app-footprint-map>