.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}

.watchButton {
    text-align: center;
    line-height: 1.6em;
    border-radius: 3px;
    display: inline-block;
    padding: .4em 1em;
    height: auto;
    width: auto;
    text-decoration: none!important;
    color: white;
}

.watchButton:hover {
    color: white;
}

.watchButton.youtube {
    background: #c8433b;
    border: 1px solid #c8433b;
    border: 1px solid #c8433b;
}

.watchButton.youtube:hover {
    background: #8b0700;
}

.watchButton.bilibili {
    background: #00a1d6;
    border: 1px solid #00a1d6;
    border: 1px solid #00a1d6;
}

.watchButton.bilibili:hover {
    background: #005c7a;
}

.card-body {
    padding-bottom: 0;
}

/* righteous-regular - latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/righteous-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Righteous'), local('Righteous-Regular'),
         url('../fonts/righteous-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/righteous-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/righteous-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/righteous-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/righteous-v6-latin-regular.svg#Righteous') format('svg'); /* Legacy iOS */
  }

  .row {
    margin-right: 0;
    margin-left: 0;
    }