<section class="hero is-medium is-bold" [ngClass]="{'isEngaged' : isEngaged()===true}">
  <div class="hero-body">
    <div class="container">
      <div *ngIf="isEngaged()">
        <div class="subtitle has-text-white is-size-1 is-size-2-mobile caveat">
          {{ 'we-are-engaged-on' | translate}}
        </div>
        <div class="title has-text-white is-size-1-desktop is-size-2-mobile caveat-brush">
          {{ '2018.11.19' }}
        </div>
      </div>
      <div *ngIf="!isEngaged()">
        <div class="subtitle has-text-white is-size-1 is-size-2-mobile caveat">
          {{ 'we-have-been-together-for' | translate}}
        </div>
        <div class="title has-text-white is-size-1-desktop is-size-2-mobile caveat-brush">
          {{getDays()}}&nbsp;{{ 'days' | translate }}
        </div>
      </div>

    </div>
  </div>
</section>