<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div>
        <div class="subtitle has-text-white is-size-1 is-size-2-mobile caveat">
          {{ 'we-got-married-in' | translate}}
        </div>
        <div class="title has-text-white is-size-1-desktop is-size-2-mobile caveat-brush">
          {{ '2019.04.18' }}
        </div>
        <a href="photos#wedding-ceremony" class="button is-light is-outlined">more photos</a>
      </div>
    </div>
  </div>
</section>