<section class="section">
  <div class="container" *ngIf="vlog$">
    <h3 class="title is-3">{{vlog$.slug | translate}}</h3>
    <h5 class="subtitle is-5">{{getDate().toLocaleDateString()}}</h5>
    <div style="display:none;"><img src="{{vlog.thumbnailUrl}}" alt="{{vlog$.title}}"></div>
    <app-vlogs-player [vlog]="vlog$"></app-vlogs-player>
    <br>
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <div class="buttons watchButtons">
            <a class="button is-danger" *ngIf="vlog$.youtubeId!==''" href="https://youtu.be/{{vlog$.youtubeId}}"
              (click)="emitYouTubeButtonClick()">{{ 'youtube' | translate }}</a>
            <a class="button is-info" href="https://www.bilibili.com/video/av{{vlog$.bilibiliId}}" *ngIf="vlog$.bilibiliId" (click)="emitVideoEvent('BilibiliButtonClick')">{{
              'bilibili' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons watchButtons is-right">
            <a class="button is-danger is-outlined" href="http://www.youtube.com/channel/UCXXumJ4mQ025Fm7by0WA0CA?sub_confirmation=1"
              (click)="emitVideoEvent('YouTubeButtonClick')">
              <span class="icon">
                <fa-icon [icon]="faYoutube"></fa-icon>
              </span>
              <span>{{ 'subscribe' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container has-text-left">
      <a href="/vlogs">{{ 'more-videos' | translate}}</a>
    </div>
  </div>
</section>