.container {
  margin-top: 20px;
}

.image.is-4by3 {
  padding-top: 57%;
}

.image.is-4by3 img {
  height: auto;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.card {
  height: 100%
}