<section class="section">
  <div class="container">
    <h3 class="title is-3">{{ 'photos' | translate }}</h3>
    <a name="wedding-ceremony"></a> 
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <div class="content">
            <p class="title">{{ 'wedding-ceremony' | translate }}</p>
            <p class="subtitle">
              <div>{{ 'san-francisco-city-hall-california' | translate }}</div>
              <div>{{ 'june-18-2019' | translate }}</div>
          </div>
        </article>
      </div>
      <div class="tile is-vertical is-8">
      <div class="tile is-parent">
            <figure class="tile is-child image is-16by9">
              <a href="/vlogs/san-francisco-city-hall-wedding-ceremony">
                  <img src="/assets/images/photos/wedding-video-play.png">

              </a>
              </figure>
        </div>
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <figure class="tile is-child image is-3by2">
              <img src="/assets/images/photos/_DSC8707.JPG">
            </figure>
            <figure class="tile is-child image is-3by2">
              <img src="/assets/images/photos/_MGL1837.JPG">
            </figure>
          </div>
          <div class="tile is-parent">
            <figure class="tile is-child image is-2by3">
              <img src="/assets/images/photos/_DSC8586.JPG">
            </figure>
          </div>
        </div>
        <div class="tile is-parent">
          <figure class="tile is-child image is-3by2">
            <img src="/assets/images/photos/_MGL1927.JPG">
          </figure>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <figure class="tile is-child image is-2by3">
              <img src="/assets/images/photos/_MGL1923.JPG">
            </figure>
          </div>
          <div class="tile is-parent is-vertical">
            <figure class="tile is-child image is-3by2">
              <img src="/assets/images/photos/_MGL1991.JPG">
            </figure>
            <figure class="tile is-child image is-3by2">
              <img src="/assets/images/photos/_MGL1905.JPG">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>