<app-loading-spinner *ngIf="!instagramAccount$" [message]="'loading-from-instagram' | translate"></app-loading-spinner>
<section class="section" *ngIf="instagramAccount$">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h3 class="title is-3 is-size-5-mobile">
            <span class="icon">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </span>
            <span>
              {{ instagramAccount$.name }}
            </span>
          </h3>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons watchButtons is-right">
            <a class="button is-danger is-outlined"
              href="https://www.instagram.com/{{instagramAccount$.username}}"
              (click)="emitInstagramFollowClick()">
              <span class="icon">
                <fa-icon [icon]="faInstagram"></fa-icon>
              </span>
              <span>{{ 'follow' | translate }} @{{instagramAccount$.username}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>{{ instagramAccount$.biography }}</div> <br>
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let post of instagramAccount$.media.data">
        <a href="{{post.permalink}}">
          <div class="card is-slightly-rounded">
            <div class="card-image">
              <figure class="image is-1by1">
                  <img *ngIf="post.media_type != 'VIDEO'" src="{{post.media_url}}" alt="{{post.caption}}" class="is-slightly-rounded" style="object-fit: cover;">
                  <video *ngIf="post.media_type == 'VIDEO'" autoplay loop [muted]="'muted'" playsinline poster="{{post.thumbnail_url}}" style="object-fit: cover;">
                    <source media="(min-width: 640px)" src="{{post.media_url}}">
                  </video>
              </figure>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-12-mobile is-6-tablet is-4-desktop">
          <div class="card is-slightly-rounded">
            <div class="card-content has-text-centered">
              <span class="card-content-text is-size-5">
                See more on <a href="https://www.instagram.com/{{instagramAccount$.username}}">Instagram</a>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>